# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python file\CCS2020复现\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
